@import url('https://fonts.cdnfonts.com/css/bender');

* {
    margin: 0;
    /* padding: 0; */
    font-family: 'Bender', sans-serif;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    /* color: rgb(0, 24, 24); */
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 5vh;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 5vh;
    color:#ccc;
}

main {
    /* background-color: black; */
    display: flex;
    background: url(/media/bc.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    /* color: #fff; */
}

.traders {
    text-align: center;
    padding: 25px;
    margin: 0 auto;
    height: 130px;
    color: #fff;
}


.traders ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
    padding-top: 15px;
    border-radius: 20px;
}

.traders ul li {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
    padding: 0 15px;
}

.trader-item img {
    opacity: 0.4;
}

.trader-item:hover img {
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;
}

.menu {
    position: absolute;
    border: 1px solid #ccc;
    margin: auto;
    padding: auto;
    left: 200px;
    top: 250px;
    height: 75vh;
    width: 160vh;
    display: none;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.89);
    transition: 1s;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}


.menu-open img {
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

h3{
    font-weight: 500;
}

.bold{
    font-weight: bold;
}

.wiki-page{
    display: block;
    text-align: end;
}

.desc-prapor{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

.desc-therapist{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

.desc-skier{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 1000px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

.desc-peacekeeper{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 1000px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

.desc-mechanic{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 1000px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

.desc-ragman{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 1000px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

.desc-jaeger{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

.desc-fence{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

.desc-lightkeeper{
    background-color: rgba(0, 0, 0, 0.777);
    width: 30%;
    position: relative;
    left: 1000px;
    top: 50px;
    border-radius: 10px;
    padding: 10px;
}

